<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
</head>
<body>
    <style>
        .list-item{
            width: 1000px;
            margin: 20px auto;
            border: 2px solid #333;
            height: 500px;
        }
        .item {
            margin-top: 8px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-around;
        }
        .item div{
            width: 15%;
        }
        .item .noidung{
            width: 50%;
        }
        .item .thoigian{
            width: 20%;
        }
        /* phan trang */
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    
        .pagination li {
            list-style: none;
            margin: 0 5px;
        }
    
        .pagination a {
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    
        .pagination a.active {
            background-color: orangered;
            color: white;
            border-color: #333;
        }
    </style>
    
    <%- include('../partials/header') %>

    <div class="list-item">
        <% for(var i=0; i<listuser.length; i++){%>
        <div class="item">
                <div>
                <input type="checkbox" class="ischeckitem">
                <span class="tieude"><%=listuser[i].tieude%></span>
                </div>
                <span class="noidung"><a href="/api/detail-email/<%=listuser[i].id%>"><%=listuser[i].noidung%></a></span>
                <span class="thoigian"><%=listuser[i].thoigian%></span>
                <form action="/api/delete-email/<%=listuser[i].id%>" method="GET">
                    <a style="height: 100px; width: 150px; background-color: #ffc107;" href="/api/delete-email/<%=listuser[i].id%>">Xoá</a>
                </form>
        </div>
        <%}%>
    </div>
    
    <div class="pagination">
        <ul>
            <% for(var i=1; i<= countRows; i++){%>
            <li><a href="" class="active"><%=i%></a></li>
            <%}%>
        </ul>
    </div>
</body>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<script>
    var list_itemDOM = document.querySelectorAll('ul .nav-link a')
    list_itemDOM.forEach((item)=>{
        item.addEventListener('click',(e)=>{
            list_itemDOM.forEach((item)=>{item.classList.remove('active')})
            item.classList.add('active')
        })
    })

    // var tieude_item= document.querySelectorAll('.tieude')
    // let loadPage = function([]){

    // }
    var list_item_conten_DOM = document.querySelector('.list-item')

    var pagePaginationDOM = document.querySelectorAll('.pagination ul li a')
    pagePaginationDOM.forEach((item)=>{
        item.addEventListener('click', async (e)=>{
            e.preventDefault()
                let result = await axios.get(`http://localhost:3000/api/panigation-email?page=${item.innerHTML}`) 
                var list_item_content =result.data.result.map((pt)=>{
                   return `
                            <div class="item">
                            <div>
                            <input type="checkbox" class="ischeckitem">
                            <span class="tieude">${pt.tieude}</span>
                            </div>
                            <span class="noidung"><a href="/api/detail-email/${pt.id}">${pt.noidung}</a></span>
                            <span class="thoigian">${pt.thoigian}</span>
                            <form action="/api/delete-email/${pt.id}" method="GET">
                                <a style="height: 100px; width: 150px; background-color: #ffc107;" href="/api/delete-email/${pt.id}">Xoá</a>
                            </form>
                    </div>
                            ` 
                })
                 
                list_item_conten_DOM.innerHTML = list_item_content.join("");
        })
    })

</script>
</html>